
@{
    ViewBag.Title = "AddCommunication";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>

    fieldset {
        border: 2px solid #3d5a80 !important;
        padding: 1rem !important
    }

    legend {
        width: auto !important;
        text-align: center;
    }


    .table-bordered td {
        text-align: center;
    }

    .table-bordered thead th {
        padding: 15px 26px;
    }

    .table-responsive {
        display: table;
    }

    @@media only screen and (max-width:767) {
        .table-responsive {
            display: block;
        }
    }
</style>

<h2 class="text-center mt-2"><b><u>Add Communication</u></b></h2>
<div ng-app="app" ng-controller="MyCtrl" class="m-1" ng-cloak>
     @*ng-init="GetStudentDetails();GetTutorDetails();ViewStudentCategoryDetails();GetAddedInternships();addcourseinit();"*@ 

    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <form>
                <fieldset>
                    <legend>Select All</legend>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>All Students</label>
                            <input type="checkbox" class="form-control" ng-model="chkAllStudents" />
                        </div>
                        <div class="form-group  col-md-6">
                            <label>All Tutors</label>
                            <input type="checkbox" class="form-control" ng-model="chkAllTutors" />
                        </div>
                    </div>

                    <div class="row mt-1">
                        <div class="col-md-12">
                            <label>Message To All</label>
                            <textarea type="text" class="form-control" ng-model="mdlMsgAll"></textarea>
                        </div>
                    </div>
                   
                    <div class="form-row text-center mt-1">
                        <div class="col-md-12">
                            <input type="button" value="Send Message" class="btn btn-primary" ng-click="AddMessageCommunicationForAll();"/>
                                   
    @*ng-click="AddMessageForCommunicatioin();*@ 
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-lg-1"></div>




    </div>

</div>


