
@{
    ViewBag.Title = "BrandTutorProfile";
    Layout = "~/Views/Shared/_LayoutBrandTutorProfile.cshtml";
}

<style>
    body {
        line-height: 1.5;
    }

    .heading {
        font-size: 30px;
        text-align: center;
    }

    .card img {
        height: 77px;
        width: 66px;
    }

    .card {
        text-align: center;
        border: 0px solid green;
    }

    h5 {
        padding: 10px;
        font-weight: 600;
        font-size: 20px;
    }

    p {
        padding: 10px;
    }

    #content2::before {
        content: "\a";
        white-space: pre;
    }

    .bg-footer {
        background-color: #33383c;
        padding: 50px 0 30px;
    }

    .footer-heading {
        letter-spacing: 2px;
    }

    .footer-link a {
        color: #acacac;
        line-height: 40px;
        font-size: 14px;
        transition: all 0.5s;
    }

        .footer-link a:hover {
            color: #1bbc9b;
        }

    .contact-info {
        color: #acacac;
        font-size: 14px;
    }

    .footer-social-icon {
        font-size: 15px;
        height: 34px;
        width: 34px;
        line-height: 34px;
        border-radius: 3px;
        text-align: center;
        display: inline-block;
    }

    .facebook {
        background-color: #4e71a8;
        color: #ffffff;
    }

    .twitter {
        background-color: #55acee;
        color: #ffffff;
    }

    .google {
        background-color: #d6492f;
        color: #ffffff;
    }

    .apple {
        background-color: #424041;
        color: #ffffff;
    }

    .footer-alt {
        color: #acacac;
    }

    .footer-heading {
        position: relative;
        padding-bottom: 12px;
    }

        .footer-heading:after {
            content: '';
            width: 25px;
            border-bottom: 1px solid #FFF;
            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
            border-bottom: 1px solid #1bbc9b;
        }
</style>

<script>
    window.console = window.console || function (t) { };
</script>



<script>
    if (document.location.search.match(/type=embed/gi)) {
        window.parent.postMessage("resize", "*");
    }
</script>
<img src="~/Images/imgbrand/cover.png" style="width:100%;height:400px;" />

<div class="s mt-5 text-center">
    <span id="content1" class=" heading text-center">
        NEET Physics Kota is The Best Place to
    </span>
    <span id="content2" class=" heading text-center">
        Learn Physics for Future Doctors
    </span>
    <div class="card-deck mt-4">
        <div class="card">
            <div class="text-center">
                <img src="~/Images/imgbrand/icons8-development-skill-128.png" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">17+ Years of NEET Proven Expertise</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"></p>

            </div>
        </div>
        <div class="card">
            <div class="text-center">
                <img src="~/Images/imgbrand/icons8-physics-128.png" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">Learn Physics Anytime, Anywhere</h5>
                <p class="card-text">Learn Physics Concepts with Tips & Tricks of AIIMS/NEET exams to solve questions quickly</p>

            </div>
        </div>
        <div class="card">
            <div class="text-center">
                <img src="~/Images/imgbrand/icons8-test-passed-96.png" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">Affordable Test Series with Video Solutions</h5>
                <p class="card-text">Get carefully selected all types of important questions with video solutions for NEET</p>

            </div>
        </div>
        <div class="card">
            <div class="text-center">
                <img src="~/Images/imgbrand/icons8-video-96.png" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">Video Course with Notes & Short Notes</h5>
                <p class="card-text">Get Video Course which is Top Rated by 1000+ IIT, NEET & AIIMS selected students</p>

            </div>
        </div>
    </div>

</div>


<!--about----------------------->
<div class="row mt-5" style="background-color:antiquewhite">
    <div class="col-md-6">
        <img src="~/Images/imgbrand/35613-1-teacher-photos-thumb.png" />

    </div>
    <div class="col-md-6">
        <h3>Physics Classes by Ashish Sir</h3>
        <p>Better Experience</p>
        <p>Proven Track Record: 1000+ selected students are in AIIMS, IIT, NEET, NIT and JIPMER Well-known: Award winning teacher by Honorable Education Minister for Physics Teaching Understands Exam Patterns: 17+ years of Physics teaching experience in Top Kota Coaching Classes Innovation: Discovered many tried and tested shortcut tricks & tips for all types of students Only Physics: Famously runs 2-3 centers of "Physics Classes by Prashant Sir" on Kota from Last 10 years</p>
    </div>
</div>


<h2 class="text-center mt-5">
    Why is this the best place to learn Physics for Future Doctors?
</h2>

<div class="cell m-5">
    <div id="ipwaqf">
        <div class="cell">
            <div id="iu0354">
                <b id="ifb923">17+ years of Teaching Experience in Top Coachings of Kota </b>
                <div><br></div>
                <div id="iuqpvb">From teaching concepts in ways that every student understands it to keeping them motivated throughout the year, we’ve had 17 years of experience for it. And remember, teachers only get better with experience. </div>
            </div>
        </div> <div class="cell"> <div id="i92o3v"><b id="i29yxk">We know how to explain tough Physics concepts easily </b> <div><span data-highlightable="1"><br></span></div> <div id="imup62"><span data-highlightable="1" id="iltewj" class="gjs-comp-selected">No two students are the same. We keep this in mind while designing our teaching methodology. From conceptual teaching to working with the student’s pace, we make sure nobody is left behind. </span></div> </div> </div>
    </div>
    <div> <div class="cell"> <div id="i0p7tj"><b>We only teach Physics, and we do it really well </b> <div><br></div> <div>First, we learnt Physics concepts ourselves. Then we cleared out entrance exams. Then we started teaching students and helped them clear their entrance exams, with success. Simply, we know the subject pretty well. </div> </div> </div> <div class="cell"> <div id="ilnhd3"><b>We were students once </b> <div><span data-highlightable="1"><br></span></div> <div><span data-highlightable="1" id="in97nj" class="gjs-comp-selected">All students go through their own journey while preparing for entrance examinations. We’ve been there and can understand a student’s thinking. If they need any help or are confused, we counsel them and clear all doubts. </span></div> </div> </div> </div> <div id="ilzp5h" class="row"> <div class="cell"> <div id="iy0u3i"><b>We believe in teaching by concepts </b> <div><br></div> <div>Physics is a concept-driven subject. We design our curriculum that relies heavily on conceptual understanding. This means our students don’t study Physics for an exam but to use it in their lives for a lifetime. </div> </div> </div> <div class="cell"> <div id="i5zhpk"><b id="ig03qi">We believe in hard work </b> <div id="io1ivh"><br id="ihycft"></div> <div id="iliz4s">From online lectures to doubt clearing sessions to test series of different difficulty levels, we go all the way to prepare you for any Physics questions asked in your entrance examination. </div> </div> </div> </div>
</div>

<footer class="section bg-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="">
                    <h6 class="footer-heading text-uppercase text-white">Information</h6>
                    <ul class="list-unstyled footer-link mt-4">
                        <li><a href="">Pages</a></li>
                        <li><a href="">Our Team</a></li>
                        <li><a href="">Feuchers</a></li>
                        <li><a href="">Pricing</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="">
                    <h6 class="footer-heading text-uppercase text-white">Ressources</h6>
                    <ul class="list-unstyled footer-link mt-4">
                        <li><a href="">Monitoring Grader </a></li>
                        <li><a href="">Video Tutorial</a></li>
                        <li><a href="">Term &amp; Service</a></li>
                        <li><a href="">Zeeko API</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="">
                    <h6 class="footer-heading text-uppercase text-white">Help</h6>
                    <ul class="list-unstyled footer-link mt-4">
                        <li><a href="">Sign Up </a></li>
                        <li><a href="">Login</a></li>
                        <li><a href="">Terms of Services</a></li>
                        <li><a href="">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="">
                    <h6 class="footer-heading text-uppercase text-white">Contact Us</h6>
                    <p class="contact-info mt-4">Contact us if need help withanything</p>
                    <p class="contact-info">+01 123-456-7890</p>
                    <div class="mt-5">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#"><i class="fab facebook footer-social-icon fa-facebook-f"></i></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab twitter footer-social-icon fa-twitter"></i></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab google footer-social-icon fa-google"></i></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab apple footer-social-icon fa-apple"></i></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="text-center mt-5">
        <p class="footer-alt mb-0 f-14">2020 © abc, All Rights Reserved</p>
    </div>
</footer>
