
@{
    ViewBag.Title = "ChangeBrandStudentPassword";
    Layout = "~/Views/Shared/_LayoutStudents.cshtml";
}


<style>
    body {
        background-image: linear-gradient(180deg, white,#1e87f0 );
    }
</style>
<div class="container" ng-app="app" ng-controller="MyCtrl">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6" style="margin-top: 3em;">
            <form name="brandstdchangepass" class="mt-5 p-3" style="border:1px solid #1e87f0;border-radius:15px; background-image: linear-gradient(180deg,#1e87f0 ,white );">
                <h2 style="text-align:center"><b><u>Change Password</u></b></h2>
                <div class="form-row mt-5">
                    <div class="form-group col-md-12">
                        <label><b>Old Password</b></label>
                        <input type="password" name="brandstudentoldpwd" ng-model="BrandStudentOldPassword" class="form-control" required />

                        <span style="color:Red" ng-show="brandstdchangepass.brandstudentoldpwd.$error.required && brandstdchangepass.brandstudentoldpwd.$dirty" ng-cloak>
                            Old Password is required
                        </span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label><b>New Password</b></label>
                        <input type="password" ng-model="BrandStudentNewPassword" name="brandstudentnewpass" class="form-control" required />
                        <span style="color:Red" ng-show="brandstdchangepass.brandstudentnewpass.$error.required && brandstdchangepass.brandstudentnewpass.$dirty" ng-cloak>
                            New Password is required
                        </span>
                    </div>
                </div>
                <div class="form-row text-center">
                    <div class="col-md-12">
                        <br />
                        @*ChangeStudentsPassword*@

                        <input type="button" value="Submit" class="btn btn-md btn-outline-primary" ng-disabled="brandstdchangepass.$invalid" ng-click="ChangeBrandStudentsPassword()" />
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>



