
@{
    ViewBag.Title = "ChangeInternPassword";
    Layout = "~/Views/Shared/LayoutIntern.cshtml";
}



<style>
    body {
        /*background-image: linear-gradient(180deg, white,#1e87f0 );*/
    }
</style>
<div class="container" ng-app="app" ng-controller="MyCtrl">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6" style="margin-top: 3em;">
            <form name="internchangepass" novalidate class="mt-5 p-3" style="border:1px solid #1e87f0;border-radius:15px;">
                @*background-image: linear-gradient(180deg,#1e87f0 ,white );*@
                <h2 style="text-align:center"><b><u>Change Password</u></b></h2>
                <div class="form-row mt-5">

                    <div class="form-group col-md-12">
                        <label for="currentpass" class="control-label"><b>Old Password</b></label>
                        <input type="password" class="form-control" required name="currentpass" ng-model="InternStudentCurrentPassword" id="currentpass" />
                        <span style="color:Red" ng-show="internchangepass.currentpass.$error.required && internchangepass.currentpass.$touched" ng-cloak>
                            Old Password is required
                        </span>

                    </div>
                </div>

                       
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputPassword3" class="control-label"><b> New Password</b></label>
                        <input type="password" class="form-control" required ng-model="InternStudentNewPassword" name="newpass" id="newpass" />
                        <span style="color:Red" ng-show="internchangepass.newpass.$error.required && internchangepass.newpass.$touched" ng-cloak>
                            New Password is required
                        </span>
                    </div>
                </div>


                @*<div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputPassword3" class="control-label"><b>Re-type New Password</b></label>
                        <input type="password" class="form-control" required ng-model="ReTypePassword" name="retypenewpass" id="retypepass" />
                        <span style="color:Red" ng-show="internchangepass.retypenewpass.$error.required && internchangepass.retypenewpass.$touched" ng-cloak>
                            Re-type New Password is required
                        </span>
                    </div>
                </div>*@


                <div class="row pb-2">
                    <div class="col-md-12 text-center">
                        <input type="button" value="Submit" class="btn btn-outline-primary" ng-disabled="internchangepass.$invalid" ng-click="changeInternPassword()" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>



@*<form class="inner2" name="internchangepass" novalidate>

    <div class="form-group">
        <label class="control-label">Email</label>
        <input type="email" ng-model="Email" class="form-control" name="email" required placeholder="already avilable from database" />
        <span style="color:Red" ng-show="internchangepass.email.$error.required && internchangepass.email.$touched" ng-cloak>
            Email is required
        </span>
    </div>
    <hr />
    <div class="form-group">
        <label for="currentpass" class="control-label">Enter Current Password</label>
        <input type="password" class="form-control" required name="currentpass" ng-model="CurrentPassword" id="currentpass" />
        <span style="color:Red" ng-show="internchangepass.currentpass.$error.required && internchangepass.currentpass.$touched" ng-cloak>
            Current Password is required
        </span>
    </div>

    <div class="form-group">
        <label for="inputPassword3" class="control-label">Enter New Password</label>
        <input type="password" class="form-control" required ng-model="NewPassword" name="newpass" id="newpass" />
        <span style="color:Red" ng-show="internchangepass.newpass.$error.required && internchangepass.newpass.$touched" ng-cloak>
            New Password is required
        </span>
    </div>

    <div class="form-group">
        <label for="inputPassword3" class="control-label">Re-type New Password</label>
        <input type="password" class="form-control" required ng-model="ReTypePassword" name="retypenewpass" id="retypepass" />
        <span style="color:Red" ng-show="internchangepass.retypenewpass.$error.required && internchangepass.retypenewpass.$touched" ng-cloak>
            Re-type New Password is required
        </span>
    </div>

</form>
<div class="row" id="butk">
    <button type="submit" class="btn btn-primary" ng-disabled="internchangepass.$invalid" ng-click="changeInternPassword()">Change Password</button>
</div>
    


    
    *@