
@{
    ViewBag.Title = "Working";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .counting {
        width: 100%;
        color: #2a2b2f;
        font-family: "Poppins",sans-serif !important;
        font-size: 40px;
        line-height: 60px;
        font-weight: 600;
        padding-bottom: 20px;
        padding-left: 40px;
    }

    .stepname {
        width: 100%;
        color: #2a2b2f;
        font-family: "Poppins",sans-serif !important;
        font-size: 25px;
        line-height: 36px;
        font-weight: 300;
        padding-left: 40px;
    }

    .des {
        font-size: 14px;
        line-height: 25px;
        padding-top: 24px;
    }

    .innercontent ul li {
        list-style-type: none;
        color: #2a2b2f;
        font-family: "Open Sans",sans-serif !important;
        font-size: 16px;
        font-weight: 400;
        padding-top: 16px;
        /*padding-left: 43px;*/
        padding-bottom: 6px;
    }

    #sec1 {
        background: #eae2d5;
    }

    .detail img {
        height: 500px;
        width: 500px;
    }

    #figure {
        font-size: 30px;
    }
</style>
<h2>HowItWork</h2>
<br />
<br />
<br />
<br />
<div class="row" id="sec1">

    <div class="col-md-6">
        <div class="counting">01</div>
        <div class="stepname">Getting Started</div>
        <div class="innercontent">
            <ul class="des">
                <li class=""><i class="fa fa-lightbulb-o mr-3" id="figure" aria-hidden="true"></i>An Enrollment Coordinator calls to answer questions, choose an appropriate program and schedule the student’s weekly sessions.</li>
                <li class=""><i class="fa fa-lightbulb-o mr-3" id="figure" aria-hidden="true"></i>Next, parents are connected with an Education Manager to discuss student learning goals and any other pertinent issues.</li>
                <li class=""><i class="fa fa-lightbulb-o mr-3" id="figure" aria-hidden="true"></i>Students take a diagnostic test* online and begin sessions with a dedicated tutor.</li>
                <li class=""><i class="fa fa-lightbulb-o mr-3" id="figure" aria-hidden="true"></i>Porta ac consectetur ac</li>

            </ul>
        </div>
    </div>
    <div class="col-md-6 detail text-center">
        <img src="~/Images/how itworks/88566-art-skills-text-study-question-learning-thumb.png" class="w-100" />
    </div>

</div>
<div class="row" id="sec1">

    <div class="col-md-6">
        <div class="counting">02</div>
        <div class="stepname">Online Tutoring Sessions</div>
        <div class="innercontent">
            <ul class="des">
                <li class=""><i class="fa fa-lightbulb-o mr-3" id="figure" aria-hidden="true"></i>Sessions are conducted with Skype’s Voice-over-IP service and Growing Stars’ online whiteboard.</li>
                <li class=""><i class="fa fa-lightbulb-o mr-3" id="figure" aria-hidden="true"></i>Students use a computer-attachable tablet to write on the whiteboard, as well as a headset to enhance online voice communication.</li>
                <li class=""><i class="fa fa-lightbulb-o mr-3" id="figure" aria-hidden="true"></i>Tutors teach from the same textbooks that students use in school.</li>
                <li class=""><i class="fa fa-lightbulb-o mr-3" id="figure" aria-hidden="true"></i>Students can access home works, instructional materials, tests and lesson plans at our Student Portal.</li>
                <li class=""><i class="fa fa-lightbulb-o mr-3" id="figure" aria-hidden="true"></i>Free, additional homework help is also available to Math students enrolled in our 8-hour/month programs.</li>
            </ul>
        </div>
    </div>
    <div class="col-md-6 detail text-center">
        <img src="~/Images/how itworks/33947-2-kids-learning-clipart-thumb.png" class="w-100" />
    </div>

</div>
<div class="row" id="sec1" style=" padding: 50px 0;">

    <div class="col-md-6 detail text-center">
        <img src="~/Images/how itworks/Resourcefulness.png" class="w-100" style="height:350px" />
    </div>

    <div class="col-md-6">
        <div class="counting">03</div>
        <div class="stepname">Ongoing Communication with Parents</div>
        <div class="innercontent">
            <ul class="des">
                <li class=""><i class="fa fa-lightbulb-o mr-3" id="figure" aria-hidden="true"></i>The Education Manager holds periodic conferences with parents to discuss student progress and share feedback.</li>
                <li class=""><i class="fa fa-lightbulb-o mr-3" id="figure" aria-hidden="true"></i>With our Parent Portal, parents may access progress reports from the tutor or Education Manager, as well as lesson plans and test results</li>
            </ul>
        </div>
    </div>
</div>


