@{
    ViewBag.Title = "NotFound";
    Layout = null;
}

<html>
<head>
    <title>Not Found</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <div class="row mt-4">
            <div class="col-md-12">
                <h2 class="text-center">Not Found</h2>
                <h3 class="alert alert-danger text-center">The page you are looking for can not be found. Please Check the Url</h3>
            </div>
        </div>
    </div>
</body>
</html>