
@{
    ViewBag.Title = "Unauthorised";
    Layout = null;
}

<html>
<head>
    <title>Unauthorised</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-12">
                <h2 class="text-center">Unauthorised</h2>
                <h3 class="alert alert-danger text-danger text-center">
                    Unauthorized. Access to this resource is denied.
                </h3>
            </div>
        </div>
    </div>
</body>
</html>
