
@{
    ViewBag.Title = "ChangeBrandTutorPassword";
    Layout = "~/Views/Shared/_LayoutBrandTutor.cshtml";
}
<br />
<h2 style="text-align:center"><b><u>Change Brand Tutor Password</u></b></h2>
<br />
<div ng-app="app" ng-controller="MyCtrl" ng-init="brandtutorChangePasswordInit()">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <form id="inner" name="studentprofileregistration" novalidate>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label col-md-2"><b>Email</b></label>
                        <input type="email" ng-model="Email" class="form-control" name="email" disabled required />


                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword3" class="control-label"><b>Enter Current Password</b></label>

                        <input type="password" class="form-control" ng-model="CurrentPassword" id="currentpass" name="currentpass">
                        <span style="color:Red" ng-show="studentprofileregistration.currentpass.$error.required && studentprofileregistration.currentpass.$touched" ng-cloak>
                            Current Password is required
                        </span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputPassword3" class="control-label col-md-4"><b>Enter New Password</b></label>

                        <input type="password" class="form-control" ng-model="NewPassword" id="newpass" name="newpass">
                        <span style="color:Red" ng-show="studentprofileregistration.newpass.$error.required && studentprofileregistration.newpass.$touched" ng-cloak>
                            New Password is required
                        </span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword3" class="control-label col-md-4"><b>Re-type New Password</b></label>

                        <input type="password" class="form-control" ng-model="ReTypePassword" id="retypepass" name="retypepass">
                        <span style="color:Red" ng-show="studentprofileregistration.retypepass.$error.required && studentprofileregistration.retypepass.$touched" ng-cloak>
                            Retype New Password is required
                        </span>
                    </div>
                </div>
                <div class="form-row text-center">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary" ng-click="ChangeBrandTutorPassword()" ng-disabled="studentprofileregistration.$invalid">Change Password</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

