
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBrandTutor.cshtml";
}

<br />
<br />
<h2 align="center">
    @* Welcome To "Tutor Name"*@
    Welcome To @Session["User"].ToString()
</h2>