
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInternTutor.cshtml";
}

@*<h2>Index</h2>*@

<br/>
<br />
<h2 align="center">
    @* Welcome To "Tutor Name"*@
    Welcome  @Session["InternTutorUser"].ToString()
</h2>