
@{
    ViewBag.Title = "ViewStudents";
    Layout = "~/Views/Shared/_LayoutInternTutor.cshtml";
}

<style>
    .table-bordered td {
        text-align: center;
    }

    .table-bordered thead th {
        padding: 15px 26px;
    }

    input.form-control, select.form-control {
        height: 22px !important;
    }
</style>
<br />

<h2 class="text-center"><u><b>Intern Student Details</b></u></h2>
<div ng-app="app" ng-controller="MyCtrl" ng-init="GetInternStudents()" ng-cloak class="mb-5">
    <div class="m-1">
        <table ng-table="InternStudentsTable" show-filter="true" class="table-bordered table-hover table-condensed table-responsive">
            <tr ng-show="$data!='undefined' && $data!='null' && $data.length!=0" ng-repeat="user in  $data track by $index">
                <td data-title="'S.No'">{{$index+1}}</td>
                <td data-title="'Student Name'" sortable="'Name'" filter="{'Name':'text'}"> {{ user.Name }} </td>
                <td data-title="'DOB'" sortable="'DOB'" filter="{'DOB':'text'}"> {{ user.DOB}} </td>
                <td data-title="'Email'" sortable="'Email'" filter="{'Email':'text'}"> {{ user.Email}} </td>


                <td data-title="'College University'" sortable="'CollegeUniv'" filter="{'CollegeUniv':'text'}"> {{ user.CollegeUniv}} </td>

                <td data-title="'Qualification'" sortable="'Qualification'" filter="{'Qualification':'text'}"> {{ user.Qualification}} </td>
                <td data-title="'Year Of Passing'" sortable="'YearOfPassing'" filter="{'YearOfPassing':'text'}"> {{ user.YearOfPassing}} </td>
                <td data-title="'How Do You Know'" sortable="'HowDoYouKnow'" filter="{'HowDoYouKnow':'text'}"> {{ user.HowDoYouKnow}} </td>
                <td data-title="'User Type'" sortable="'UserType'" filter="{'UserType':'text'}"> {{ user.UserType}} </td>
                <td data-title="'Username'" sortable="'UserName'" filter="{'UserName':'text'}"> {{ user.UserName}} </td>
                <td data-title="'Date Created'" sortable="'DateCreated'" filter="{'DateCreated':'text'}"> {{ user.DateCreated}} </td>




                <td data-title="'Image'">
                    <img ng-src="~/Intern/Images/{{user.Image}}" style="height:50px;width:100px" />
                </td>

                @*<td data-title="'Action'" class="editbtn">
            <a href="#" class="btn btn-success" ng-click="editStudentsDetail(user.StudentId)"><i class="fas fa-edit"></i></a>
        </td>*@
            </tr>
            <tr>
                <td colspan="23" ng-show="$data =='undefined' || $data =='null' || $data.length==0">
                    <h2 class="text-center"> <font color="red"> No records found</font>  </h2>
                </td>
            </tr>
        </table>
    </div>
</div>



