body {
    background-color: whitesmoke;
    font-family: "Poppins",sans-serif;
}

h2 {
    margin-top: 7.6rem;
    text-align: center;
    height: 16vh;
    width: 100%;
    background-color: rgba(0,123,255,.25);
    padding: 1.6rem;
}

#firstrow {
    padding: 1rem 5rem;
}

#secondrow {
    padding: 1rem 5rem;
}

.btn-primary {
    color: #fff;
    background-color: #3d5a80;
    border-color: #3d5a80;
}

.card {
    background-color: rgb(174 210 249 / 25%);
}

.btn-primary:hover {
    color: #fff;
    background-color: #ee6c4d;
    border-color: #ee6c4d;
}

@media screen and (max-width:1024px) {
    h2 {
        margin-top: 8.6rem;
    }
}

@media screen and (max-width:768px) {
    h2 {
        margin-top: 7.6rem;
        font-size: 1.5rem;
        padding: 2.6rem;
    }

    #firstrow {
        padding: 1rem 1rem;
    }

    #secondrow {
        padding: 1rem 1rem;
    }

    p {
        font-size: 13px;
    }
}

@media screen and (max-width:600px) {
    h2 {
        margin-top: 11rem;
        font-size: 1.5rem;
        padding: 2rem;
    }
}
